.cartProductsContainer {
  background-color: #333;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purchaseForm {
  max-width: 640px;
  padding: 15px;
  margin-bottom: 15px;
}
legend {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-family: "Clicker Script", cursive;
}
input {
  background-color: #333;
  border-width: 0 0 2px 0;
  padding: 0 5px 0 5px;
  color: #fff;
  margin: 0 10px 10px 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.cartProductsResume {
  width: 90%;
  max-width: 720px;
  max-height: 240px;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  border-top: 2px dashed #888;
  justify-content: flex-end;
}
.cartProductsTotalPrice {
  font-weight: bolder;
}
.btnBuy {
  float: right;
  background-color: #111;
  border: 2px solid #888;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  cursor:pointer;
}
.btnBuy:active {
  background-color: #444;
  border-color: #ccc;
}
.btnBuy:hover {
  background-color: #444;
  border-color: #ccc;
}
.btnBuyDisabled {
  float: right;
  background-color: #333;
  border: 2px solid #888;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}