.cartWidget {
    align-self: center;
    background-image: url(./images/cart.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
.amountCart {
    background: #d33;
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 16px;
    height: 16px;
    font-size: 10px;
    float: right;
    color: #ddd;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}