.productCard {
  max-width: 720px;
  max-height: 240px;
  margin: 10px 10px 50px;
  display: flex;
  justify-content: center;
  background-color: #333;
  box-shadow: 0 0 10px 6px rgba(85, 85, 85, 0.75);
  border-radius: 0.5rem;
  border: 2px solid #888;
}
.productCard:hover {
  box-shadow: 0 0 10px 6px rgba(125, 125, 125, 0.75);
  border-color: #ccc;
}
.imgProductCard {
  max-width: 33%;
  border-radius: 0.5rem 0 0 0.5rem;
}
.descProductCard {
  text-align: right;
  width: 67%;
  height: 240px;
  /* padding: 40px; */
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleProduct {
  text-shadow: 1px 1px 3px rgb(17 17 17 / 73%);
  text-align: left;
  background-color: #555;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Clicker Script';
  border-radius: 0 10px 0 0;
  /* box-shadow: 0px 5px 10px -2px rgba(0, 205, 219, 0.75); */
  
}
.descProduct {
  padding: 0 1rem;
  font-size: 1.3rem;
  text-align: justify;
}
.productDetailLink {
  font-style: italic;
  font-size: initial;
  float: right;
  color: #fff;
  text-decoration: none;
}
.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  margin: 0rem 1rem 0rem 0rem;
  background-color: #555;
  color: #bbb;
  font-weight: bold;
  padding:0.5rem;
  text-shadow: 1px 1px 3px rgb(17 17 17 / 73%);
  box-shadow: 5px 0 7px 3px rgba(155, 155, 155, 0.75);
}
.formAdd {
  display: flex;
  align-items: center;
}
.counter {
  display: flex;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.25rem;
}
.btnCount {
  color: #ccc;
  background:none;
  border: none;
  font-size:1.75rem;
  margin: 0;
  padding:0.125rem 0.5rem;
  cursor: pointer;
  text-shadow: 1px 1px 50px rgba(255, 0, 0, 0.73);
}
.btnCount:active {
  background-color: #444;
}
.btnMinus:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.73);
  color: #800;
}
.count {
  text-shadow: 1px 1px 3px rgb(17 17 17 / 73%);
  margin: 0rem 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  align-self: center;
}
.btnPlus:hover {
  text-shadow: 0 0 5px rgba(0, 150, 0, 0.73);
  color: #040;
}
.btnForm {
  background-color: #111;
  border: 2px solid #888;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  cursor:pointer;
}
.btnForm:active {
  background-color: #444;
  border-color: #ccc;
}
.btnForm:hover {
  background-color: #444;
  border-color: #ccc;
}