.cartProductCardContainer {
  width: 90%;
  max-width: 720px;
  max-height: 240px;
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: #444;
  border-radius: 0.5rem;
}
.imgCartProductCard {
  /* flex: 0; */
  align-self: center;
  width: 64px;
  height: 64px;
  margin-left: 5px;
  border-radius: 0.5rem 0 0 0.5rem;
}
.descCartProductCard {
  text-align: right;
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.titleCartProduct {
  flex: 2.1;
  text-shadow: 1px 1px 3px rgb(17 17 17 / 73%);
  text-align: left;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Clicker Script';
  border-radius: 0 10px 0 0;
}
.contCartDescProductCard {
  text-align: right;
  width: 560px;
  padding: 40px;
  font-weight: 400;
  line-height: 1.5rem;
}
.descCartProduct {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
  text-align: justify;
}
.btnCartForm {
  flex:0;
  margin: 1rem;
  background-color: #111;
  border: 2px solid #888;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  cursor:pointer;
}
.btnCartForm:active {
  background-color: #444;
  border-color: #ccc;
}
.btnCartForm:hover {
  background-color: #444;
  border-color: #ccc;
}
.priceCart {
  flex: 1;
  margin: 0rem 1rem 0rem 0rem;
  align-self: center;
  color: #bbb;
  font-weight: bold;
  padding:0.5rem;
  text-shadow: 1px 1px 3px rgb(17 17 17 / 73%);
}
.counterCart {
  flex: 0;
  min-width: 98px;
  justify-content: center;
  margin: 1rem; 
  display: flex;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.25rem;
}
.cartProductsTotal {
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgb(17 17 17 / 73%);
}