.contProductCard {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 10px 0 0 10px;

}
.imgProductCard {
height: 100%;
border-radius: 10px 0 0 10px;
}
.contDescProductCard {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}
.titleProduct {
    font-size: 1.3rem;
}
.descProduct {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}
