* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #111 url(./images/bg.jpg) center repeat-y fixed;
  background-size: cover;
  margin: 0px;
  font-family: "Architects Daughter", cursive;
  background-color: #222;
  color: #bbb;
}
h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 40px 0;
  color:#fff;
  text-align: center;
  font-family: 'Clicker Script', cursive;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header {
  width: 100%;
}
.banner {
  width: 100%;
}
.contPrincipal {
  min-height: 600px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 64px;
}

main {
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0.9;
  background-color: #333;
}